%html
  %body
    %h3 Authorized email address
    %p= @email || ":("
    - if session[:f_notice].nil?
      %form{ :action => "/sendmail", :method => "post"}
        %label{:for => "name"} Name:
        %input{:type => "text", :name => "name", :size => 40}
        %input{:type => "hidden", :name => "email", :value => @email}
        %input{:type => "hidden", :name => "token", :value => @access_token.token}
        %input{:type => "hidden", :name => "secret", :value => @access_token.secret}
        %input{:type => "submit", :value => "Send", :class => "button"}
    - else
      %h3= session[:f_notice]

