<html>
<head>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <script src="jquery-1.7.1.min.js"></script>
</head>

<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="#"> SPUNE NU ACTA! </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="hero-unit">
      <video id="example_video_1" class="media-grid span14" width="640" height="360" controls="controls" poster="http://mediakit.laquadrature.net/formats/16/716.jpg" preload="none">
        <source src="http://mediakit.laquadrature.net/formats_srt/20/11_big.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
        <source src="http://mediakit.laquadrature.net/formats_srt/19/11_big.webm" type='video/webm; codecs="vp8, vorbis"' />
        <source src="http://mediakit.laquadrature.net/formats_srt/18/11_big.ogg" type='video/ogg; codecs="theora, vorbis"' />
      </video>
    </div>

    <div class="row"> 
      <div class="span6 offset5">
        <h5> Notifica parlamentarii romani din parlamentul european, folosind unul din serviciile </h5>
        <a href="/gmail"><img src="google.png"></a>
        <a href="/yahoo"><img src="yahoo.png"></a>
      </div>
      <div class="span5">
        <h5>Twitter Stream</h5>
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: 'nuacta romania noacta',
            interval: 6000,
            title: 'Campania NU ACTA Romania',
            subject: 'ACTA',
            width: 250,
            height: 600,
            theme: {
              shell: {
                background: 'transparent',
                color: '#ffffff'
              },
              tweets: {
                background: '#ffffff',
                color: '#444444',
                links: '#CC6600'
              }
            },
            features: {
              scrollbar: false,
              loop: true,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              toptweets: true,
              behavior: 'default'
            }
          }).render().start();
        </script>
        <p><a class="btn small pull-right" href="http://twitter.com/#search?q=nuacta%20romania">
        Join the conversation &raquo;</a></p>
      </div>
    </div>

    <footer>
      <p> Contribuie la campanie https://github.com/noacta/noacta </p>
    </footer>
  </div>
</body>
</html>
