<html>
<head>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
</head>

<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="#"> SPUNE NU ACTA! </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="hero-unit">
      <video src="http://mediakit.laquadrature.net/formats_srt/18/11_big.ogg" controls>
          Your browser does not support the <code>video</code> element.  
      </video>
    
    </div>

    <div class="row"> 
      <div class="span6 offset5">
        <h5> Notifica parlamentarii romani din parlamentul european, folosind unul din serviciile </h5>
        <a href="/gmail"><img src="google.png"></a>
        <a href="/yahoo"><img src="yahoo.png"></a>
      </div>
    </div>

    <footer>
      <p> Contribuie la campanie https://github.com/noacta/noacta </p>
    </footer>
  </div>
</body>
</html>
